body {
  background-color: pink;
}
a {
  color: green;
}
a:hover {
  color: green;
  font-size: 20px;
}
table a{
  color: grey;
  text-decoration: none;
}
table a:hover {
  color: black;
  text-decoration: none;
  font-style: italic;
}
